<section id="slider">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3" checked>
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">


    <label for="s1" id="slide1">
        <div class="title-card">
            <h1> Recepies Suggesstion </h1>
            <hr class="new1" style="border-top: 3px solid rgb(255, 255, 255);">
            <textarea style="height: 350px;
                width: 700px;
                border-radius: 10px;
                background-color: #466d7247;"> </textarea><br>
            <button class="btn btn-success">Submit</button>
        </div>
    </label>



    <label for="s2" id="slide2">
        <div class="title-card">
            <h1> Yesterdays Menu Ratings </h1>
            <hr class="new1" style="border-top: 3px solid rgb(255, 255, 255);">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 180px; border-radius:
                            50%;">
                        <h4 style="padding-block: 10px"> Breakfast </h4>
                        <!-- <star-rating [starType]="'svg'" [rating]="1"></star-rating> -->
                        <star-rating (starClickChange)="onClickRatingB($event)"
                            [rating]="0.5"></star-rating>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 180px; border-radius:
                            50%;">
                        <h4 style="padding-block: 10px">
                            Evening Snack </h4>
                        <!-- <star-rating [starType]="'svg'" [rating]="1"></star-rating> -->
                        <star-rating
                            (starClickChange)="onClickRatingES($event)"
                            [rating]="0.5"></star-rating>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <img src="../../../assets/images/shidorilogo.png"
                    alt="Avatar" style="height: 230px; border-radius:
                    50%;margin: -43px 0 0;">
                <h4 style="padding-block: 10px">
                    Lunch </h4>
                <!-- <star-rating [starType]="'svg'" [rating]="1"></star-rating> -->
                <star-rating (starClickChange)="onClickRatingL($event)"
                    [rating]="0.5"></star-rating>
            </div>
        </div>
    </label>



    <label for="s3" id="slide3">
        <div class="title-card">
            <h1> Todays Menu </h1>
            <hr class="new1" style="border-top: 3px solid rgb(255, 255, 255);">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="padding-block: 10px"> Breakfast </h3>
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 180px; border-radius:
                            50%;">

                    </div>
                    <div class="col-md-6"><h3 style="padding-block: 10px">
                            Evening Snack </h3>
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 180px; border-radius:
                            50%;">
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <img src="../../../assets/images/shidorilogo.png"
                    alt="Avatar" style="height: 230px; border-radius:
                    50%;margin: -43px 0 0;">
                <h3 style="padding-block: 10px">
                    Lunch </h3>
            </div>
        </div>
    </label>



    <label for="s4" id="slide4">
        <div class="title-card">
            <h1> Tommarow's Menu Voting</h1>
            <hr class="new1" style="border-top: 3px solid rgb(255, 255, 255);">
            <br>
            <br>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 150px; border-radius:
                            50%;">
                        <h3 style="padding-block: 10px"> Breakfast </h3>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 200px; border-radius:
                            50%;">
                        <h3 style="padding-block: 10px"> Lunch </h3>

                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/images/shidorilogo.png"
                            alt="Avatar" style="height: 150px; border-radius:
                            50%;">
                        <h3 style="padding-block: 10px"> Evening Snacks</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button class="btn btn-success">Submit</button>

        </div>
    </label>



    <label for="s5" id="slide5">
        <div class="title-card">
            <h1> Suggesions </h1>
            <hr class="new1" style="border-top: 3px solid rgb(255, 255, 255);">
            <textarea style="height: 350px;
                width: 700px;
                border-radius: 10px;
                background-color: #466d7247;"> </textarea><br>
            <button class="btn btn-success">Submit</button>
        </div>
    </label>


</section>
<!-- 
<section id="slider_vertical">
    <input type="radio" name="slider_vertical" id="sv1">
    <input type="radio" name="slider_vertical" id="sv2">
    <input type="radio" name="slider_vertical" id="sv3" checked>
    <input type="radio" name="slider_vertical" id="sv4">
    <input type="radio" name="slider_vertical" id="sv5">
    <label for="sv1" id="slide_vertical_1"></label>
    <label for="sv2" id="slide_vertical_2"></label>
    <label for="sv3" id="slide_vertical_3"></label>
    <label for="sv4" id="slide_vertical_4"></label>
    <label for="sv5" id="slide_vertical_5"></label>
</section> -->
