<header class="site-header">
    <div class="site-identity">

        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="50.000000pt" height="50.000000pt" viewBox="0 0 500.000000
            500.000000"
            preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,500.000000)
                scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M2528 4751 c89 -90 127 -176 127 -286 -1 -103 -16
                    -147
                    -131 -375
                    -51 -102 -102 -218 -113 -258 -66 -242 -16 -487 153 -738
                    60
                    -90 60 -74 -5
                    181 -42 163 -52 221 -56 315 -7 148 10 217 110 457 102
                    242
                    121 335 96 455
                    -22 103 -99 215 -181 262 l-33 20 33 -33z" />
                    <path d="M2200 4496 c0 -4 12 -28 27 -53 21 -36 27 -63 31
                        -123 6 -101 -7
                        -154 -82 -345 -35 -88 -68 -184 -75 -213 -17 -79 -13
                        -179
                        9 -266 19 -76 120
                        -285 161 -336 l20 -25 -6 40 c-3 22 -27 126 -52 230
                        -59
                        249 -58 310 11 525
                        61 188 76 251 76 331 0 89 -21 146 -75 199 -25 24 -45
                        41
                        -45 36z" />
                        <path d="M2915 4485 c61 -158 40 -245 -129 -527 -47
                            -79
                            -95 -169 -106 -200
                            -66 -188 -35 -378 88 -540 20 -27 39 -48 42 -48 4
                            0
                            -5 46 -18 103 -21 84 -25
                            129 -26 257 -1 180 6 208 106 420 83 175 108 253
                            108
                            339 0 73 -21 147 -55
                            192 -14 19 -16 20 -10 4z" />
                            <path d="M857 2883 c-12 -11 -8 -50 7 -62 10 -8
                                446
                                -10 1641 -9 1538 3 1628
                                4 1639 21 8 12 8 22 0 35 -11 16 -101 17
                                -1646 20
                                -899 1 -1638 -1 -1641 -5z" />
                                <path d="M917 2693 c53 -378 190 -667 440
                                    -924
                                    118 -121 239 -215 381 -295 81
                                    -46 82 -47 82 -85 0 -29 8 -47 29 -71 l29
                                    -33
                                    604 -3 c439 -2 610 1 631 9 41
                                    17 67 56 67 99 0 37 2 39 88 88 328 190
                                    575
                                    467 707 795 52 129 80 240 110
                                    430 l4 27 -1589 0 -1589 0 6 -37z" />
                                    <path d="M1233 1199 c-80 -13 -157 -46
                                        -223
                                        -95 -212 -156 -176 -420 73 -538
                                        90 -43 154 -56 269 -56 211 0 380 93
                                        450
                                        248 18 39 37 67 52 74 18 8 80 6 238
                                        -6 117 -9 303 -23 413 -31 110 -8 272
                                        -22
                                        360 -30 194 -17 742 -21 778 -4 61
                                        28 74 127 23 178 l-26 26 -203 3
                                        c-202 4
                                        -556 -11 -697 -29 -41 -5 -237 -20
                                        -434 -34 -197 -14 -375 -28 -395 -31
                                        -30
                                        -5 -43 -1 -68 20 -17 14 -34 38 -37
                                        52 -11 41 -51 98 -98 139 -113 98
                                        -299
                                        143 -475 114z" />
                                    </g>
                                </svg>
                                <h1 class="verticalCenter"><a href="">SHIDORI</a></h1>
                            </div>
                            <nav class="site-navigation">
                                <ul class="nav">
                                    <li><button class="btn btn-light"> About
                                        </button></li>
                                    <li><button class="btn btn-light"> Contact
                                        </button></li>
                                    <li> <button class="btn btn-primary"> Login
                                        </button></li>
                                    <li> <button class="btn btn-primary">
                                            Register </button></li>
                                </ul>
                            </nav>
                        </header>