body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: rgb(179, 179, 179);
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: blue;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;

}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}